.cartContainer {
    margin: 2em  13em 4em ;
    padding: 25px;
    text-align: center;
    /* background: rgba(255, 255, 255, 0.05); */
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(0, 210, 255, 0.2);
    background-color: #fff;
    color: #6c5ce7 ;
    border: 2px solid #6c5ce7 ;
}

.cartList {
    list-style: none;
    padding: 0;
}

.cartItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
}

.removeBtn {
    background: none;
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.removeBtn:hover {
    background: #ff4d4d;
    color: white;
}

.totalSection {
    margin-top: 20px;
    border-top: 4px solid #d0bfff ;
    padding-top: 15px;
    display: inline-block
}

.clearBtn {
    background: #f0932b;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}